{% extends 'Alpha/index.html' %}
{% load static%}


{% block title %}About{% endblock %}

{% block content %}

<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="About Alpha.DC">
    <meta name="description" content="">

    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/default-logo.png",
		"sameAs": [
				"https://github.com/asrar19",
				"https://www.instagram.com/ar110s",
				"https://www.linkedin.com/in/asrar747"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body class="u-body u-xl-mode" data-lang="en">
    

    <section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="600" data-image-height="337" id="sec-80b0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="infinite u-custom-font u-font-georgia u-text u-text-body-alt-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="1000">About Alpha.DC</h1>
        <p class="u-custom-font u-font-merriweather u-text u-text-grey-5 u-text-2"> Here in Alpha.DC we are interested in data centers field ,
so made a perfect solution to help you with building your data center in the
best way and provide you with all the possible needs for it , but first we will
explain what is Data Center..&nbsp;</p>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-3 u-section-2" id="sec-4bb8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-44 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-expand-resize u-layout-cell u-left-cell u-size-28 u-layout-cell-1">
                <div class="u-container-layout">
                  <div class="u-align-left u-border-10 u-border-custom-color-4 u-shape u-shape-1"></div>
                  <img class="u-align-left u-image u-image-1" data-image-width="2000" data-image-height="1125" src="images/72172358_m.webp">
                </div>
              </div>
              <div class="u-container-style u-custom-color-1 u-layout-cell u-right-cell u-size-32 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-left u-custom-font u-font-georgia u-text u-text-default u-text-1" data-animation-name="bounceIn" data-animation-direction="" data-animation-duration="1000"> What is Data Center ?</h2>
                  <p class="u-align-center u-custom-font u-font-merriweather u-text u-text-2"><b></b> A data center is a facility that provides shared access to
applications and data using a complex network, compute, and storage
infrastructure. Industry standards exist to assist in designing, constructing,
and maintaining data center facilities and infrastructures to ensure the data
is both secure and highly available.&nbsp;&nbsp;
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-1 u-section-3" id="sec-4bfd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-georgia u-text u-text-default u-text-1"><b>Types Of Data Centers&nbsp;</b>
          <br>
        </h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="images/3425010-5af04a4c.png" alt=""></span>
                <h3 class="u-custom-font u-font-georgia u-text u-text-2"> Enterprise data centers</h3>
                <p class="u-custom-font u-font-merriweather u-text u-text-3">&nbsp;are typically constructed and used by a single organization for their own internal purposes. These are common among tech giants.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="images/9625499-b798a561.png" alt=""></span>
                <h3 class="u-custom-font u-font-georgia u-text u-text-4"> Colocation data centers</h3>
                <p class="u-custom-font u-font-merriweather u-text u-text-5">&nbsp;function as a kind of rental property where the space and resources of a data center are made available to the people willing to rent it.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-2 u-section-4" id="sec-3013">
      <div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="images/9770701-8fc87853.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-1"> Managed service data centers</h3>
                <p class="u-align-center u-text u-text-2"> &nbsp;offer aspects such as data storage, computing, and other services as a third party, serving customers directly.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="images/3222791-004b4911.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-3"> Cloud data centers&nbsp;</h3>
                <p class="u-align-center u-text u-text-4">are distributed and are sometimes offered to customers with the help of a third-party managed service provider.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-1 u-section-5" id="sec-4451">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-custom-color-3 u-group u-opacity u-opacity-75 u-radius-50 u-shape-round u-group-1">
          <div class="u-container-layout u-valign-bottom u-container-layout-1">
            <h2 class="u-align-center u-text u-text-default u-text-1"> Typical Composition of Data Center Architecture</h2>
            <p class="u-align-center u-text u-text-default u-text-2">The data center has plenty of functions and supports different types of services, such as data computing, storage, processing, etc, resulting in a variety of data center architecture.The data center architecture mainly consists of three parts: data center network, security, and computing architecture. Apart from these three, there are some other data center architectures, such as data center physical architecture and data center information architecture. The following will mainly interpret three typical compositions of it.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-6" id="carousel_39c2" data-image-width="2560" data-image-height="1440">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-border-15 u-border-custom-color-3 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-border u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-custom-color-4 u-icon-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="images/3211252-3940a4db.png" alt=""></span>
                <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1"><b>Data Center Computing</b>
                </h4>
                <p class="u-text u-text-custom-color-3 u-text-2"> Servers are the engines of the&nbsp; Data centers must use processors that are best suited for the
task, e.g. general purpose CPUs may not be the best choice to solve artificial
intelligence (AI) and machine learning (ML) problems.
&nbsp;</p>
              </div>
            </div>
            <div class="u-align-center u-border-15 u-border-custom-color-3 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-border u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-custom-color-4 u-icon-2"><img src="images/3160887-3f8ee026.png" alt=""></span>
                <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3"> Data Center Storage</h4>
                <p class="u-text u-text-custom-color-3 u-text-4"> Data centers host large quantities of sensitive information,
both for their own purposes and the needs of their customers. Decreasing costs
of storage media increases the amount of storage available for backing up the
data either locally, remote, or both. Advancements in non-volatile storage
media lowers data access times.&nbsp;</p>
              </div>
            </div>
            <div class="u-align-center u-border-15 u-border-custom-color-3 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-border u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-custom-color-4 u-icon-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="images/1231223-37472721.png" alt=""></span>
                <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-5"><b>Data Center Networks</b>
                </h4>
                <p class="u-text u-text-custom-color-3 u-text-6"> Datacenter network equipment includes cabling, switches,
routers, and firewalls that connect servers together and to the outside world.
Properly configured and structured, they can manage high volumes of traffic
without compromising performance.&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  


{% endblock  %}