{% extends 'Alpha/index.html' %}
{% load static%}


{% block title %} Services {% endblock %}

{% block content %}


<div id="service" class="Services">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Best Services</h2>
                <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad <br>
                   teimpor sittem elit inuning ut sed.
                </p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Services-box">
                <i><img src="{% static 'images/service1.png'%}" alt="#" /></i>
                <h3> Shared Hosting</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Services-box">
                <i><img src="{% static 'images/service2.png'%}" alt="#" /></i>
                <h3>Dedicated Hosting</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Services-box">
                <i><img src="{% static 'images/service3.png'%}" alt="#" /></i>
                <h3>Domain Registration</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Services-box">
                <i><img src="{% static 'images/service4.png'%}" alt="#" /></i>
                <h3>VPS Hosting</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Services-box">
                <i><img src="{% static 'images/service5.png'%}" alt="#" /></i>
                <h3>Cloud Hosting</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="Services-box">
                <i><img src="{% static 'images/service6.png'%}" alt="#" /></i>
                <h3>Reseller Hosting</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci.</p>
             </div>
          </div>
          <a class="read_more" href="#">Read More</a>
       </div>
    </div>
 </div>
 <!-- end Servicess -->
 <!-- why -->
 <div id="why" class="why">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Why you should choose </h2>
                <p>making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still </p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div id="box_ho" class="why-box">
                <i><img src="{% static 'images/why1.png'%}" alt="#" /></i>
                <h3>Powerful Features</h3>
                <p>making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still </p>
             </div>
             <a class="read_more bg" href="#">Read More</a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="why-box">
                <i><img src="{% static 'images/why2.png'%}" alt="#" /></i>
                <h3>Totaly Optimised</h3>
                <p>making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still </p>
             </div>
             <a class="read_more bg" href="#">Read More</a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
             <div class="why-box">
                <i><img src="{% static 'images/why3.png'%}" alt="#" /></i>
                <h3>Worldwide Support</h3>
                <p>making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still </p>
             </div>
             <a class="read_more bg" href="#">Read More</a>
          </div>
       </div>
    </div>
 </div>
 <!-- end why -->
 <!-- contact -->





{% endblock  %}